@charset "UTF-8";
div.mainContent{
	height: 100%;
	width:  100%;
}
div.friendListBox{
	height: 100%;
	width:  100%;
}
div.friendList{
	height: 70%;
	width:  50%;
	margin: 0 auto;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
}
table.table{
	margin: 5px auto;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform : translate(-50%,-50%);
	transform : translate(-50%,-50%);
}
div.boxC{
	height: 30%;
	width:  50%;
	margin: 0 auto;
	position: relative;
}
div.boxD{
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform : translate(-50%,-50%);
	transform : translate(-50%,-50%);
}