@charset "UTF-8";
/* 全てに適用 */
*{
	box-sizing: border-box;
}
/* 背景 */
div.background-image{
	background-image: url("../images/backPicture03.jpg");
	height: 100vh;
	width: 100vw;
}
/* ヘッダー部分 */
div.head-cover{
	height: 15%;
	width: 100%;
	text-align: center;
	font-size: 2.5rem;
	position: relative;/* relative(親)とabsolute(子)とセットで使う */
}
div.head{
	position: absolute;/* 座標位置が特定されているとき動きがないとき有効 */
	top: 50%;
	left: 50%;
	-webkit-transform : translate(-50%,-50%);
	transform : translate(-50%,-50%);
	display: -webkit-flex; /* flex(横並び指定)オプションも多数あり、対象の親につける */
	display: flex;
}
div.left-head{
	text-align: center;
    margin: 0 5px;
}
img.robot{
	height: 35px;
	width: 35px;
}
div.center-head{
	margin: 0 5px;
}
div.right-head{
	text-align: center;
	margin: 0 5px;
}
img.robot2{
	height: 35px;
	width: 35px;
}
div.titleBox {
	height: 15%;
	width: 100%;
	position: relative;/* relative(親)とabsolute(子)とセットで使う */
}
div.title{
	font-weight: bold;
	font-size: 1.5rem;
	position: absolute;/* 座標位置が特定されているとき動きがないとき有効 */
	top: 50%;
	left: 50%;
	-webkit-transform : translate(-50%,-50%);
	transform : translate(-50%,-50%);
}
div.main {
	height: 60%;
	width: 100%;
	line-height: 30px;
	position: relative;/* relative(親)とabsolute(子)とセットで使う */
}
table.table, div.errorMsg{
	font-size: 1.5rem;
	position: absolute;/* 座標位置が特定されているとき動きがないとき有効 */
	top: 40%;
	left: 50%;
	-webkit-transform : translate(-50%,-50%);
	transform : translate(-50%,-50%);
}
div.link {
	height: 5%;
	text-align: center;
	padding: 5px;
}
/* フッター部分 */
div.footer{
	height: 5%;
	text-align: center;
	padding-top: 5px;
}
* a {
	font-weight: bold;
	text-decoration: none;
	font-size: 1.2rem;
}
/* ボタン */
#button {
	background-color: #008B8B;
	color: white;
	border-radius: 5px;
}
